@charset "UTF-8";
/*font*/
.fontXxl {
  font-size: 24px;
}

.fontXl {
  font-size: 20px;
}

.fontLg {
  font-size: 16px;
}

.fontMd {
  font-size: 14px;
}

.fontSm {
  font-size: 12px;
}

.fontXs {
  font-size: 10px;
}

/*color*/
.bgPrimary {
  background-color: #219bf1;
  color: #ffffff;
}

.textPrimary {
  color: #219bf1 !important;
}

.bgSuccess {
  background-color: #03b77a;
  color: #ffffff;
}

.textSuccess {
  color: #03b77a !important;
}

.bgWarning {
  background-color: #fcd211;
  color: #ffffff;
}

.textWarning {
  color: #fcd211 !important;
}

.bgDanger {
  background-color: #ff567f;
  color: #ffffff;
}

.textDanger {
  color: #ff567f !important;
}

.bgDark {
  background-color: #04253e;
  color: #ffffff;
}

.textDark {
  color: #04253e !important;
}

.bgInfo {
  background-color: #e9e9e9;
  color: #ffffff;
}

.textInfo {
  color: #e9e9e9 !important;
}

.bgDarkBlack {
  background-color: #111111;
  color: #ffffff;
}

.textDarkBlack {
  color: #111111 !important;
}

.bgBlack {
  background-color: #0c0c0d;
  color: #ffffff;
}

.textBlack {
  color: #0c0c0d !important;
}

.bgGray {
  background-color: #4d545b;
  color: #ffffff;
}

.textGray {
  color: #4d545b !important;
}

.bgLightGray {
  background-color: #7f8896;
  color: #ffffff;
}

.textLightGray {
  color: #7f8896 !important;
}

.bgDarkBlue {
  background-color: #00538a;
  color: #ffffff;
}

.textDarkBlue {
  color: #00538a !important;
}

.bgLight {
  background-color: #f7f8f9;
  color: #ffffff;
}

.textLight {
  color: #f7f8f9 !important;
}

.bgWhite {
  background-color: #ffffff;
  color: #ffffff;
}

.textWhite {
  color: #ffffff !important;
}

.bgBlue {
  background-color: #4abaf6;
  color: #ffffff;
}

.textBlue {
  color: #4abaf6 !important;
}

/*btn*/
.btn {
  box-sizing: border-box;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 40px;
  display: inline-flex;
  padding: 0 10px;
  font-weight: 600;
}
.btn ~ .btn {
  margin-left: 8px;
}
.btn .ic {
  margin-right: 3px;
}
.btn.bgPrimary {
  background-color: #219bf1 !important;
}
.btn.bgPrimary:hover {
  background-color: #0d81d2;
}
.btn.bgSuccess {
  background-color: #03b77a !important;
}
.btn.bgSuccess:hover {
  background-color: #028559;
}
.btn.bgWarning {
  background-color: #fcd211 !important;
}
.btn.bgWarning:hover {
  background-color: #d7b103;
}
.btn.bgDanger {
  background-color: #ff567f !important;
}
.btn.bgDanger:hover {
  background-color: #ff2358;
}
.btn.bgDark {
  background-color: #04253e !important;
}
.btn.bgDark:hover {
  background-color: #01080e;
}
.btn.bgInfo {
  background-color: #e9e9e9 !important;
}
.btn.bgInfo:hover {
  background-color: #d0d0d0;
}
.btn.bgDarkBlack {
  background-color: #111111 !important;
}
.btn.bgDarkBlack:hover {
  background-color: black;
}
.btn.bgBlack {
  background-color: #0c0c0d !important;
}
.btn.bgBlack:hover {
  background-color: black;
}
.btn.bgGray {
  background-color: #4d545b !important;
}
.btn.bgGray:hover {
  background-color: #363b3f;
}
.btn.bgLightGray {
  background-color: #7f8896 !important;
}
.btn.bgLightGray:hover {
  background-color: #666f7c;
}
.btn.bgDarkBlue {
  background-color: #00538a !important;
}
.btn.bgDarkBlue:hover {
  background-color: #003457;
}
.btn.bgLight {
  background-color: #f7f8f9 !important;
}
.btn.bgLight:hover {
  background-color: #dadfe3;
}
.btn.bgWhite {
  background-color: #ffffff !important;
}
.btn.bgWhite:hover {
  background-color: #e6e6e6;
}
.btn.bgBlue {
  background-color: #4abaf6 !important;
}
.btn.bgBlue:hover {
  background-color: #19a7f4;
}
.btn.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.pull {
  width: 100% !important;
}

.half {
  width: 48% !important;
}

/*height*/
.Xl {
  height: 54px;
  font-size: 14px;
}
.Xl.radiushalf {
  border-radius: 30px;
}
.Xl.radiusCircle {
  width: 54px !important;
  height: 54px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Lg {
  height: 48px;
  font-size: 14px;
}
.Lg.radiushalf {
  border-radius: 30px;
}
.Lg.radiusCircle {
  width: 48px !important;
  height: 48px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Md {
  height: 40px;
  font-size: 14px;
}
.Md.radiushalf {
  border-radius: 30px;
}
.Md.radiusCircle {
  width: 40px !important;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Sm {
  height: 32px;
  font-size: 14px;
}
.Sm.radiushalf {
  border-radius: 30px;
}
.Sm.radiusCircle {
  width: 32px !important;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Xs {
  height: 30px;
  font-size: 14px;
}
.Xs.radiushalf {
  border-radius: 30px;
}
.Xs.radiusCircle {
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*border radius*/
.radius {
  border-radius: 8px;
}

.radiusHalf {
  border-radius: 30px;
}

.radiusCircle {
  border-radius: 50%;
}

/*margin padding  간격*/
.mt-6 {
  margin-top: -48px !important;
}

.mt-5 {
  margin-top: -40px !important;
}

.mt-4 {
  margin-top: -32px !important;
}

.mt-3 {
  margin-top: -24px !important;
}

.mt-2 {
  margin-top: -16px !important;
}

.mt-1 {
  margin-top: -8px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt1 {
  margin-top: 8px !important;
}

.mt2 {
  margin-top: 16px !important;
}

.mt3 {
  margin-top: 24px !important;
}

.mt4 {
  margin-top: 32px !important;
}

.mt5 {
  margin-top: 40px !important;
}

.mt6 {
  margin-top: 48px !important;
}

.mr-6 {
  margin-right: -48px !important;
}

.mr-5 {
  margin-right: -40px !important;
}

.mr-4 {
  margin-right: -32px !important;
}

.mr-3 {
  margin-right: -24px !important;
}

.mr-2 {
  margin-right: -16px !important;
}

.mr-1 {
  margin-right: -8px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr1 {
  margin-right: 8px !important;
}

.mr2 {
  margin-right: 16px !important;
}

.mr3 {
  margin-right: 24px !important;
}

.mr4 {
  margin-right: 32px !important;
}

.mr5 {
  margin-right: 40px !important;
}

.mr6 {
  margin-right: 48px !important;
}

.mb-6 {
  margin-bottom: -48px !important;
}

.mb-5 {
  margin-bottom: -40px !important;
}

.mb-4 {
  margin-bottom: -32px !important;
}

.mb-3 {
  margin-bottom: -24px !important;
}

.mb-2 {
  margin-bottom: -16px !important;
}

.mb-1 {
  margin-bottom: -8px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb1 {
  margin-bottom: 8px !important;
}

.mb2 {
  margin-bottom: 16px !important;
}

.mb3 {
  margin-bottom: 24px !important;
}

.mb4 {
  margin-bottom: 32px !important;
}

.mb5 {
  margin-bottom: 40px !important;
}

.mb6 {
  margin-bottom: 48px !important;
}

.ml-6 {
  margin-left: -48px !important;
}

.ml-5 {
  margin-left: -40px !important;
}

.ml-4 {
  margin-left: -32px !important;
}

.ml-3 {
  margin-left: -24px !important;
}

.ml-2 {
  margin-left: -16px !important;
}

.ml-1 {
  margin-left: -8px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml1 {
  margin-left: 8px !important;
}

.ml2 {
  margin-left: 16px !important;
}

.ml3 {
  margin-left: 24px !important;
}

.ml4 {
  margin-left: 32px !important;
}

.ml5 {
  margin-left: 40px !important;
}

.ml6 {
  margin-left: 48px !important;
}

.my-6 {
  margin: -48px 0 !important;
}

.my-5 {
  margin: -40px 0 !important;
}

.my-4 {
  margin: -32px 0 !important;
}

.my-3 {
  margin: -24px 0 !important;
}

.my-2 {
  margin: -16px 0 !important;
}

.my-1 {
  margin: -8px 0 !important;
}

.my0 {
  margin: 0px 0 !important;
}

.my1 {
  margin: 8px 0 !important;
}

.my2 {
  margin: 16px 0 !important;
}

.my3 {
  margin: 24px 0 !important;
}

.my4 {
  margin: 32px 0 !important;
}

.my5 {
  margin: 40px 0 !important;
}

.my6 {
  margin: 48px 0 !important;
}

.mx-6 {
  margin: 0 -48px !important;
}

.mx-5 {
  margin: 0 -40px !important;
}

.mx-4 {
  margin: 0 -32px !important;
}

.mx-3 {
  margin: 0 -24px !important;
}

.mx-2 {
  margin: 0 -16px !important;
}

.mx-1 {
  margin: 0 -8px !important;
}

.mx0 {
  margin: 0 0px !important;
}

.mx1 {
  margin: 0 8px !important;
}

.mx2 {
  margin: 0 16px !important;
}

.mx3 {
  margin: 0 24px !important;
}

.mx4 {
  margin: 0 32px !important;
}

.mx5 {
  margin: 0 40px !important;
}

.mx6 {
  margin: 0 48px !important;
}

.py-6 {
  padding: -48px 0 !important;
}

.py-5 {
  padding: -40px 0 !important;
}

.py-4 {
  padding: -32px 0 !important;
}

.py-3 {
  padding: -24px 0 !important;
}

.py-2 {
  padding: -16px 0 !important;
}

.py-1 {
  padding: -8px 0 !important;
}

.py0 {
  padding: 0px 0 !important;
}

.py1 {
  padding: 8px 0 !important;
}

.py2 {
  padding: 16px 0 !important;
}

.py3 {
  padding: 24px 0 !important;
}

.py4 {
  padding: 32px 0 !important;
}

.py5 {
  padding: 40px 0 !important;
}

.py6 {
  padding: 48px 0 !important;
}

.px-6 {
  padding: 0 -48px !important;
}

.px-5 {
  padding: 0 -40px !important;
}

.px-4 {
  padding: 0 -32px !important;
}

.px-3 {
  padding: 0 -24px !important;
}

.px-2 {
  padding: 0 -16px !important;
}

.px-1 {
  padding: 0 -8px !important;
}

.px0 {
  padding: 0 0px !important;
}

.px1 {
  padding: 0 8px !important;
}

.px2 {
  padding: 0 16px !important;
}

.px3 {
  padding: 0 24px !important;
}

.px4 {
  padding: 0 32px !important;
}

.px5 {
  padding: 0 40px !important;
}

.px6 {
  padding: 0 48px !important;
}

.pxy-6 {
  padding: -48px !important;
}

.pxy-5 {
  padding: -40px !important;
}

.pxy-4 {
  padding: -32px !important;
}

.pxy-3 {
  padding: -24px !important;
}

.pxy-2 {
  padding: -16px !important;
}

.pxy-1 {
  padding: -8px !important;
}

.pxy0 {
  padding: 0px !important;
}

.pxy1 {
  padding: 8px !important;
}

.pxy2 {
  padding: 16px !important;
}

.pxy3 {
  padding: 24px !important;
}

.pxy4 {
  padding: 32px !important;
}

.pxy5 {
  padding: 40px !important;
}

.pxy6 {
  padding: 48px !important;
}

.mxy-6 {
  margin: -48px !important;
}

.mxy-5 {
  margin: -40px !important;
}

.mxy-4 {
  margin: -32px !important;
}

.mxy-3 {
  margin: -24px !important;
}

.mxy-2 {
  margin: -16px !important;
}

.mxy-1 {
  margin: -8px !important;
}

.mxy0 {
  margin: 0px !important;
}

.mxy1 {
  margin: 8px !important;
}

.mxy2 {
  margin: 16px !important;
}

.mxy3 {
  margin: 24px !important;
}

.mxy4 {
  margin: 32px !important;
}

.mxy5 {
  margin: 40px !important;
}

.mxy6 {
  margin: 48px !important;
}

.skip {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 3px;
  color: transparent;
  line-height: 0;
}

.textHide {
  font-size: 0;
  text-indent: -99999px;
}

.hide {
  display: none !important;
}

.bgNone {
  background: none;
}

.disNone {
  display: none !important;
}

.disBlock {
  display: block !important;
}

.disInlineBlock {
  display: inline-block !important;
}

.disFlex {
  display: flex;
}

.disInlineFlex {
  display: inline-flex;
}

.textIndent {
  text-indent: -10000000000000000px;
  font-size: 0;
  height: 0;
}

.relative {
  position: relative !important;
}

/* typography */
.bold100 {
  font-weight: 100;
}

.bold200 {
  font-weight: 200;
}

.bold300 {
  font-weight: 300;
}

.bold400 {
  font-weight: 400;
}

.bold500 {
  font-weight: 500;
}

.bold600 {
  font-weight: 600;
}

.bold700 {
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

.font12 {
  font-size: 12px !important;
}

.font14 {
  font-size: 14px !important;
}

/*text align*/
.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

.textUnder {
  text-decoration: underline;
}

.ellipsis {
  display: inline-block;
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 120%;
  height: 100%;
}

.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 120%;
  height: 100%;
}

/*layout align*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.clear {
  clear: both;
}

/*flex*/
.flexJ {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.flexS {
  display: flex !important;
  justify-content: start;
  align-items: center;
}

.flexC {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.flexE {
  display: flex !important;
  justify-content: end;
  align-items: center;
}

.flexFsc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.flexInline {
  display: inline-flex;
}

.flexColumn {
  flex-direction: column;
}

.alignS {
  align-items: start !important;
}

.alignC {
  align-items: center !important;
}

.alignE {
  align-items: end !important;
}

.flex {
  flex: 1 1 auto;
}

.flexNowrap {
  flex-wrap: nowrap;
}

.flexWrap {
  flex-wrap: wrap;
}