@charset "utf-8";

/* 파란색 wbl */

/* MENU */
.header02 .head_menu{border-top:3px solid #448ccb}

/* 메뉴5 */
#nav5 .navbar{border-top:2px solid #448ccb;border-bottom:2px solid #448ccb}

/*** 3.전체기사보기 ***/
.news_list .date_tab ul{background:#448ccb !important}
.news_list .sch_date{background:#448ccb !important;border-bottom:1px solid #448ccb !important}

/*** 5.검색결과 ***/
.search_con .sch_box2 dl.col1 button.on{background:#448ccb;border:1px solid #448ccb}
.search_con .sch_box2 dl.col2 button.on{background:#448ccb;border:1px solid #448ccb}

/*** 9. 10. 11. 커뮤티 리스트(텍스트형, 웹진형, 이미지형) ***/
.community_list_con .cmt_hd_fnc li button{background:#448ccb}
.community_list_con .cmt_li_con .tab_menu ul li.on a{color:#448ccb}

/* 커뮤니티 뷰 리스트 */
.community_main_con .cmt_li_con .tab_menu ul li.on a{color:#448ccb}

/*** 41. PDF 지면보기 ***/
.pdf_list_sec .pdf_list .pdf_top .date_select dl dd.calendar_btn{background:#448ccb}

/* 하단 서비스 메뉴 좌측 영역(공통) */
.service aside nav{border-top:3px solid #448ccb}
.service aside .link > ul > li > a:hover{background:#448ccb url('../images/icon/nv_arrow1.png') no-repeat 95% center;border-top:1px solid #448ccb;border-bottom:1px solid #448ccb}

/*** 메뉴 스킨 A ***/
.header02 .navbar ul li.on a{color:#448ccb}

/* 메뉴2 */
.header02 #nav2{background:#448ccb}

/* 메뉴4 */
.header02 #nav4 .navbar{border:1px solid #3f83bf;background:#448ccb}

/* 메뉴5 */
.header02 #nav5 .navbar{border-top:2px solid #448ccb;border-bottom:2px solid #448ccb}

/* 메뉴7 */
.header02 #nav7{border-bottom:2px solid #448ccb}

/* 메뉴8 */
.header02 #nav8{border-bottom:3px solid #448ccb}

/* 메뉴9 */
.header02 #nav9{background:#448ccb url('../images/nav_bg.png')repeat-x}

/*** 메뉴 스킨 B ***/
.header01 .navbar ul li.on a{color:#448ccb}

/* 메뉴2 */
.header01 #nav2{background:#448ccb}

/* 메뉴4 */
.header01 #nav4 .navbar{border:1px solid #3f83bf;background:#448ccb}

/* 메뉴5 */
.header01 #nav5 .navbar{border-top:2px solid #448ccb;border-bottom:2px solid #448ccb}

/* 메뉴7 */
.header01 #nav7{border-bottom:2px solid #448ccb}

/* 메뉴8 */
.header01 #nav8{border-bottom:3px solid #448ccb}

/* 메뉴9 */
.header01 #nav9{background:#448ccb url('../images/nav_bg.png')repeat-x}

/* 커뮤니티 메인 */
.community_cotent article{border-top:2px solid #448ccb}

/***** 커뮤니티 *****/
.community .sub_title span{border-left:13px solid #448ccb}

/* 커뮤니티 좌측 영역(공통) */
.community aside .nav_hd{background:#448ccb}

/* 커뮤니티 메인 */
.best_art_con{border-top:2px solid #448ccb}

/***** 마이페이지 *****/
.mypage .sub_title span{border-left:13px solid #448ccb}

/* 많이 본 뉴스 */
.subpage .rank_li_item dl dt em{color:#448ccb}

/* 페이징 */
.paging a.on{background:#448ccb;border:1px solid #448ccb}

/***** 서브페이지 *****/
.sub_title span{border-left:13px solid #448ccb}

/*** 8. 커뮤니티 메인(2) ***/
.community_cotent2 article{display:inline-block;width:100%;border-top:2px solid #448ccb}

/* 많이 본 뉴스 */
.main_text .rank_li_item dl dt em{color:#448ccb}
.main_image .rank_li_item dl dt em{color:#448ccb}

/* 커뮤니티 좌측 영역(공통) */
.community aside .nav_hd{background:#448ccb url('../images/nv_pattern01.png') !important;border:2px solid #448ccb}

/* 실시간 뉴스 */
.news_list .issue_hd{background:#448ccb}
.main_image .issue_hd{background:#448ccb}

/* 마이페이지 */
.mypage aside .nav_hd{background:#448ccb}
.mypage .snb .tit_bul02{background:#448ccb}
.mypage_con .mypage_top{border-top:2px solid #448ccb}
.mypage .member_login_box dl dt{color:#448ccb}

/* 메뉴 hover */
.navbar ul li a:hover{color:#448ccb}

/* 우측섹션 */
aside section h2 .tit_hd{border-bottom:3px solid #448ccb}
.hotChannel h2, .movie h2, .photo h2{color:#448ccb !important}

/* 서브메뉴 */
.sub_lnb li a:hover{color:#448ccb !important}

/* 이미지형 메뉴탑 */
.header01 .head_menu{border-top:3px solid #448ccb}

/* 포토뉴스 */
.photo_news .sec_n1 h2 span{border-right:7px solid #448ccb}
.movie_news .sec_n1 h2 span{border-right:7px solid #448ccb}

/* 커뮤니티 불렛*/
.community .snb ul li dl dt .tit_bul{background:#448ccb}

/*** 모바일 ***/
section .slider-nav li.on a{color:#448ccb}
.more_btn3 button{background:#448ccb}
section .li_item dt em{color:#448ccb}
.header_top{float:left;position:relative;width:100%;min-height:50px;background:#fff}
.header_top2 .menu_btn a{background:#448ccb}
.header_top2 .search_btn a{;background:#448ccb}
.side_menu .menu_hd{background:#448ccb}
.side_menu2 .menu_hd{background:#448ccb}
.search_bar{float:left;height:50px;background:#fff}
.search_bar input{border:1px solid #448ccb}
.search_bar2 input{border:1px solid #448ccb;padding:0 5px;border:1px solid #448ccb}
.realtime h2 em{display:inline;background:#448ccb;border:1px solid #448ccb}
.category_m{color:#448ccb}
.paging a.on{background:#448ccb;color:#fff;border:1px solid #448ccb}

.main_text .rank_li_item dl dt em{color:#448ccb !important}
.navms .frame ul li.on a{color:#448ccb}