@charset "utf-8";


/* space*/
.p0	{padding:0 !important}
.p2	{padding:2px !important}
.p5	{padding:5px !important}
.p8	{padding:8px !important}
.p10 {padding:10px !important}
.p15 {padding:15px !important}
.p20 {padding:20px !important}

.pt0	{padding-top:0px !important}
.pt1	{padding-top:1px !important}
.pt3	{padding-top:3px !important}
.pt5	{padding-top:5px !important}
.pt10	{padding-top:10px !important}
.pt15	{padding-top:15px !important}
.pt20	{padding-top:20px !important}

.pr0	{padding-right:0 !important}
.pr5	{padding-right:5px !important}
.pr10	{padding-right:10px !important}
.pr15	{padding-right:15px !important}
.pr20	{padding-right:20px !important}

.pb0	{padding-bottom:0px !important}
.pb3	{padding-bottom:3px !important}
.pb5	{padding-bottom:5px !important}
.pb10	{padding-bottom:10px !important}
.pb15	{padding-bottom:15px !important}
.pb20	{padding-bottom:20px !important}

.pl0	{padding-left:0px !important}
.pl5	{padding-left:5px !important}
.pl10	{padding-left:10px !important}
.pl15	{padding-left:15px !important}
.pl20	{padding-left:20px !important}
.pl25	{padding-left:25px !important}

.ptb0	{padding-top:0px !important; padding-bottom:0px !important}
.ptb2	{padding-top:2px !important; padding-bottom:2px !important}
.ptb3	{padding-top:3px !important; padding-bottom:3px !important}
.ptb5	{padding-top:5px !important; padding-bottom:5px !important}
.ptb8	{padding-top:8px !important; padding-bottom:8px !important}
.ptb10	{padding-top:10px !important; padding-bottom:10px !important}
.ptb15	{padding-top:15px !important; padding-bottom:15px !important}
.ptb20	{padding-top:20px !important; padding-bottom:20px !important}

.plr0	{padding-left:0px !important; padding-right:0 !important}
.plr2	{padding-left:2px !important; padding-right:2px !important}
.plr5	{padding-left:5px !important; padding-right:5px !important}
.plr10	{padding-left:10px !important; padding-right:10px !important}
.plr15	{padding-left:15px !important; padding-right:15px !important}
.plr20	{padding-left:20px !important; padding-right:20px !important}

.mAuto	{margin:Auto !important}
.m0		{margin:0 !important}
.m2		{margin:2px !important}
.m3		{margin:3px !important}
.m5		{margin:5px !important}
.m7		{margin:7px !important}
.m10	{margin:10px !important}
.m15	{margin:15px !important}
.m20	{margin:20px !important}

.mt0	{margin-top:0px !important}
.mt1	{margin-top:1px !important}
.mt2	{margin-top:2px !important}
.mt4	{margin-top:4px !important}
.mt5	{margin-top:5px !important}
.mt7	{margin-top:7px !important}
.mt10	{margin-top:10px !important}
.mt15	{margin-top:15px !important}
.mt12   {margin-top: 12px !important}
.mt20	{margin-top:20px !important}
.mt25   {margin-top:25px !important}

.mr0	{margin-right:0px !important}
.mr1	{margin-right:1px !important}
.mr3	{margin-right:3px !important}
.mr5	{margin-right:5px !important}
.mr7	{margin-right:7px !important}
.mr8	{margin-right:8px !important}
.mr10	{margin-right:10px !important}
.mr15	{margin-right:15px !important}
.mr20	{margin-right:20px !important}
.mr30	{margin-right:30px !important}

.mb0	{margin-bottom:0px !important}
.mb2	{margin-bottom:2px !important}
.mb5	{margin-bottom:5px !important}
.mb7	{margin-bottom:7px !important}
.mb10	{margin-bottom:10px !important}
.mb15	{margin-bottom:15px !important}
.mb20	{margin-bottom:20px !important}
.mb25	{margin-bottom:25px !important}

.ml0	{margin-left:0px !important}
.ml1	{margin-left:1px !important}
.ml3	{margin-left:3px !important}
.ml5	{margin-left:5px !important}
.ml7	{margin-left:7px !important}
.ml10	{margin-left:10px !important}
.ml15	{margin-left:15px !important}
.ml20	{margin-left:20px !important}
.ml25	{margin-left:25px !important}
.ml32	{margin-left:32px !important}

.mm1	{margin:-1px !important}
.mm2	{margin:-2px !important}
.mm3	{margin:-3px !important}
.mm5	{margin:-5px !important}
.mm7	{margin:-7px !important}
.mm10	{margin:-10px !important}
.mm15	{margin:-15px !important}

.mmt1	{margin-top:-1px !important}
.mmt2	{margin-top:-2px !important}
.mmt3	{margin-top:-3px !important}
.mmt5	{margin-top:-5px !important}
.mmt7	{margin-top:-7px !important}
.mmt10	{margin-top:-10px !important}
.mmt15	{margin-top:-15px !important}

.mml1	{margin-left:-1px !important}
.mml2	{margin-left:-2px !important}

.mml5	{margin-left:-5px !important}
.mml10	{margin-left:-10px !important}
.mml15	{margin-left:-15px !important}

.mmr1	{margin-right:-1px !important}
.mmr2	{margin-right:-2px !important}
.mmr5	{margin-right:-5px !important}
.mmr10	{margin-right:-10px !important}
.mmr15	{margin-right:-15px !important}

.mtbA	{margin-top:auto !important; margin-bottom:auto !important}
.mtb0	{margin-top:0px !important; margin-bottom:0px !important}
.mtb1	{margin-top:1px !important; margin-bottom:1px !important}
.mtb2	{margin-top:2px !important; margin-bottom:2px !important}
.mtb5	{margin-top:5px !important; margin-bottom:5px !important}
.mtb10	{margin-top:10px !important; margin-bottom:10px !important}
.mtb15	{margin-top:15px !important; margin-bottom:15px !important}
.mtb20	{margin-top:20px !important; margin-bottom:20px !important}

.mlrA	{margin-left:auto !important; margin-right:auto !important}
.mlr0	{margin-left:0px !important; margin-right:0 !important}
.mlr5	{margin-left:5px !important; margin-right:5px !important}
.mlr10	{margin-left:10px !important; margin-right:10px !important}
.mlr15	{margin-left:15px !important; margin-right:15px !important}
.mlr20	{margin-left:20px !important; margin-right:20px !important}

.absolute {position:absolute !important}
.relative {position:relative !important}
.po_inherit {position:inherit!important}

.left0	 {left:0 !important}
.right0  {right:0 !important}

.bottom0 {bottom:0 !important}
.bottom8 {bottom:8px !important}
.bottom10{bottom:10px !important}
.bottom30{bottom:30px !important}
.bottom40{bottom:40px !important}
.bottom60{bottom:60px !important}

.mtop2	 {top:-2px !important}
.top0	 {top:0 !important}
.top3	 {top:3px !important}
.top6 	 {top:6px !important}
.top7 	 {top:7px !important}
.top10 	 {top:10px !important}
.top20 	 {top:20px !important}
.top30 	 {top:30px !important}
.top40 	 {top:40px !important}
.top44 	 {top:44px !important}
.top48 	 {top:48px !important}
.top60 	 {top:60px !important}
.top80 	 {top:80px !important}
.top90 	 {top:90px !important}
.top100  {top:100px !important}
.top140  {top:140px;}
.top160  {top:160px; !important}
.top170  {top:170px; !important}
.top310  {top:310px !important}

.ab10 	 {top:10px !important; bottom:10px !important; left:10px !important ; right:10px !important; position:absolute}

/* width*/
.wAuto {width:auto !important; display:inline-block}
.w0 {width:0 !important; display:inline-block}
.w10 { width:10px !important; display:inline-block}
.w20 { width:20px !important; display:inline-block}
.w30 { width:30px !important; display:inline-block}
.w40 { width:40px !important; display:inline-block}
.w50 { width:50px !important; display:inline-block}
.w60 { width:60px !important; display:inline-block}
.w65 { width:65px !important; display:inline-block}
.w70 { width:70px !important; display:inline-block}
.w80 { width:80px !important; display:inline-block}
.w90 { width:90px !important; display:inline-block}
.w95 { width:95px !important; display:inline-block}
.w100{width:100px !important; display:inline-block}
.w115{width:115px !important; display:inline-block}
.w120{width:120px !important; display:inline-block}
.w130{width:130px !important; display:inline-block}
.w140{width:140px !important; display:inline-block}
.w150{width:150px !important; display:inline-block}
.w180{width:180px !important; display:inline-block}
.w200{width:200px !important; display:inline-block}
.w210{width:210px !important; display:inline-block}
.w230{width:230px !important; display:inline-block}
.w240{width:240px !important; display:inline-block}
.w250{width:250px !important; display:inline-block}
.w270{width:270px !important; display:inline-block}
.w300{width:300px !important; display:inline-block}
.w310{width:310px !important; display:inline-block}
.w330{width:330px !important; display:inline-block}
.w335{width:335px !important; display:inline-block}
.w340{width:340px !important; display:inline-block}
.w370{width:370px !important; display:inline-block}
.w380{width:380px !important; display:inline-block}
.w400{width:400px !important; display:inline-block}
.w450{width:450px !important; display:inline-block}
.w500{width:500px !important; display:inline-block}
.w550{width:550px !important; display:inline-block}
.w600{width:600px !important; display:inline-block}
.w700{width:700px !important; display:inline-block}
.w800{width:800px !important; display:inline-block}
.w850{width:850px !important; display:inline-block}
.w900{width:900px !important; display:inline-block}
.w1000{width:1000px !important; display:inline-block}
.w1100{width:1100px !important; display:inline-block}

.w10p {width:10% !important; display:inline-block}
.w20p {width:20% !important; display:inline-block}
.w24p {width:24% !important; display:inline-block}
.w26p {width:26% !important; display:inline-block}
.w29p{width:29% !important; display:inline-block}
.w30p{width:30% !important; display:inline-block}
.w31p{width:31% !important; display:inline-block}
.w32p{width:32% !important; display:inline-block}
.w33p{width:33% !important; display:inline-block}
.w35p{width:35% !important; display:inline-block}
.w40p{width:40% !important; display:inline-block}
.w45p{width:45% !important; display:inline-block}
.w47p{width:47% !important; display:inline-block}
.w48p{width:48% !important; display:inline-block}
.w49p{width:49% !important; display:inline-block}
.w50p{width:50% !important; display:inline-block}
.w60p{width:60% !important; display:inline-block}
.w70p{width:70% !important; display:inline-block}
.w80p{width:80% !important; display:inline-block}
.w84p{width:84% !important; display:inline-block}
.w88p{width:88% !important; display:inline-block}
.w90p{width:90% !important; display:inline-block}
.w92p{width:92% !important; display:inline-block}
.w96p{width:96% !important; display:inline-block}
.w97p{width:97% !important; display:inline-block}
.w98p{width:98% !important; display:inline-block}
.w99p{width:99% !important; display:inline-block}
.w100p{width:100% !important; display:inline-block}
.w100pF{width:100%; float:left !important; display:inline-block}
.w50pF{width:50%; float:left !important; display:inline-block}
.w100pm2{width:calc(100% - 2px) !important; display:inline-block}
.w100pm3{width:calc(100% - 3px) !important; display:inline-block}
.w100pm5{width:calc(100% - 5px) !important; display:inline-block}
.w100pm7{width:calc(100% - 7px) !important; display:inline-block}
.w100pm12{width:calc(100% - 12px) !important; display:inline-block}
.w100pm20{width:calc(100% - 20px) !important; display:inline-block}


.mwAuto{min-width:inherit !important}
.mw100{min-width:100px !important}
.mw120{min-width:120px !important}
.mw130{min-width:130px !important}
.mw140{min-width:140px !important}
.mw150{min-width:150px !important}
.mw180{min-width:180px !important}
.mw200{min-width:200px !important}
.mw230{min-width:230px !important}
.mw240{min-width:240px !important}
.mw250{min-width:250px !important}
.mw270{min-width:270px !important}
.mw300{min-width:300px !important}
.mw340{min-width:340px !important}
.mw400{min-width:400px !important}
.mw500{min-width:500px !important}
.mw600{min-width:600px !important}
.mw700{min-width:700px !important}
.mw780{min-width:780px !important}
.mw800{min-width:800px !important}
.mw900{min-width:900px !important}
.mw950{min-width:950px !important}
.mw1000{min-width:1000px !important}
.mw1010{min-width:1010px !important}
.mw1030{min-width:1030px !important}
.mw1100{min-width:1100px !important}
.mw1150{min-width:1150px !important}
.mw1213{min-width:1213px !important}

.h0 { height:0px !important}
.hAuto { height:auto !important}
.h100p { height:100% !important}
.h100pm2 { height:calc(100% - 2px) !important}
.h20 { height:20px !important}
.h30 { height:30px !important}
.h45 { height:45px !important}
.h50 { height:50px !important}
.h60 { height:60px !important}
.h100 { height:100px !important}
.h140 { height:140px !important}
.h150 { height:150px !important}
.h170 { height:170px !important}
.h180 { height:180px !important}
.h190 { height:190px !important}
.h200 { height:200px !important}
.h210 { height:210px !important}
.h260 { height:260px !important}
.h300 { height:300px !important}
.h331 { height:331px !important}
.h352 { height:352px !important}
.h370 { height:370px !important}
.h400 { height:400px !important}
.h450 { height:450px !important}
.h500 { height:500px !important}
.h550 { height:550px !important}
.h600 { height:600px !important}
.h700 { height:700px !important}
.h800 { height:800px !important}

.topA { top:auto !important}
.rightA { right:auto !important}
.botA { bottom:auto !important}
.leftA { left:auto !important}

.t20p { display:inline-block; margin:auto; position:absolute; top:30% !important}
.t30p { display:inline-block; margin:auto; position:absolute; top:30% !important}
.t40p { display:inline-block; margin:auto; position:absolute; top:40% !important}
.t50p { display:inline-block; margin:auto; position:absolute; top:49% !important}
.t60p { display:inline-block; margin:auto; position:absolute; top:60% !important}
.t70p { display:inline-block; margin:auto; position:absolute; top:70% !important}
.t80p { display:inline-block; margin:auto; position:absolute; top:80% !important}
.b20p { display:inline-block; margin:auto; position:absolute; bottom:20% !important}
.b30p { display:inline-block; margin:auto; position:absolute; bottom:30% !important}
.b40p { display:inline-block; margin:auto; position:absolute; bottom:40% !important}
.b50p { display:inline-block; margin:auto; position:absolute; bottom:49% !important}
.b60p { display:inline-block; margin:auto; position:absolute; bottom:60% !important}
.b70p { display:inline-block; margin:auto; position:absolute; bottom:70% !important}
.b80p { display:inline-block; margin:auto; position:absolute; bottom:80% !important}


/* align*/
.left 	{text-align:left !important}
.center	{text-align:center !important}
.right 	{text-align:right !important}
.fr		{float:right !important}
.fl		{float:left !important; clear:none !important}
.flL	{float:left !important; text-align:left !important}
.flR	{float:left !important; text-align:right !important}
.frR 	{float:right !important; text-align:right !important}
.frL 	{float:right !important; text-align:left !important}
.flN 	{float:none !important;}
.fnInblock	{display: inline-block; float: inherit !important}

.top { vertical-align:top !important}
.topT { vertical-align:text-top !important}
.bottom { vertical-align:text-bottom !important}
.middle { vertical-align:middle !important}
.baseline { vertical-align:baseline !important}
.pointer {cursor:pointer !important}

.border0{ border:0 !important}
.border1{ border:1px solid #d7d7d7}/* 변경�???*/

.box1{ border:1px solid #d7d7d7; width:calc(100% - 2px) !important; display:inline-block }
.box12{ border:1px solid #d7d7d7; width:calc(100% - 12px) !important; padding:5px; display:inline-block }

.none		{display:none!important}
.inherit 	{display:inherit!important}
.block 		{display:block!important}
.inblock	{display:inline-block!important}
.table		{display:table!important}
.tableCell	{display:table-cell !important}
.txt_inline {display:inline!important}
.txt_block  {display:block!important}


b {font-weight:bold!important}
.bold   {font-weight:bold!important}
.normal  {font-weight:100 !important}
.t_11 	{font-size:11px!important}
.t_12 	{font-size:12px!important}
.t_14 	{font-size:14px!important}
.t_16 	{font-size:16px!important}
.t_20 	{font-size:20px!important}
.c_oran	{color:#f16319!important}
.c_LOran	{color:#ff8b03!important}
.c_blue		{color:#275fcf!important}
.c_Sblue		{color:#0085ff!important}
.c_Lblue	{color:#8EB1CC!important}
.c_red		{color:#F00!important}
.c_cc		{color:#ccc!important}
.c_22		{color:#222!important}
.c_55		{color:#555!important}
.c_77		{color:#777!important}
.c_99		{color:#999!important}

.blind { font-size:0}

.bg_00 	{background:#000 !important}
.bg_22 	{background:#222 !important}
.bg_ee  {background:#eee !important}
.bg_6f {background:#6f6f6f !important}
.bg_f7  {background:#f7f7f7 !important}
.bg_ff 	{background:#fff !important}
.bg_Lblue {background:#f1f5f9 !important}
.bg_gray {background:#f7f7f7 !important}
.bg_yell {background:#f4eecb !important}
.bg_oran {background:#f16319 !important}
.bg_green {background:#e5f0d5  !important}
.bg_blue {background:#275fcf !important}
.bg_sblue {background:#0085ff !important}
.selected {background:#cceafc; color:#000; font-weight:bold }

input[type="text"].disable { background:#eee; color:#ddd}/* upload source select */
.bar { color:#d7d7d7; padding:0 7px; vertical-align:middle}
.barx {color: #d7d7d7; font-weight: 100; margin: 0 3px; padding: 0; vertical-align: text-bottom; width: 1px !important;}
.linedot {border-top:1px dashed #d7d7d7 !important}
.linedotB {border-bottom:1px dashed #d7d7d7 !important}
.lineBdot {border-top:1px dashed #333 !important}
.lineBdotB {border-bottom:1px dashed #333 !important}

.lineA {border: 1px #d7d7d7 solid}
.lineT {border-top:1px solid #d7d7d7 !important}
.lineB {border-bottom:1px solid #d7d7d7 !important}
.lineL {border-left:1px solid #d7d7d7 !important}
.lineR {border-right:1px solid #d7d7d7 !important}
.lineTB {border-top:1px solid #d7d7d7 !important; border-bottom:1px solid #d7d7d7 !important}
.lineLR {border-left:1px solid #d7d7d7 !important; border-right:1px solid #d7d7d7 !important}

.lineT0 {border-top:0 !important}
.lineB0 {border-bottom:0 !important}
.lineL0 {border-left:0 !important}
.lineR0 {border-right:0 !important}
.lineTB0 {border-top:0 !important; border-bottom:0 !important}

.lineT2 {border-top:2px #d7d7d7 solid}
.lineT3 {border-top:3px #d7d7d7 solid}
.lineTB3 {border-top:3px #d7d7d7 solid; border-bottom:3px #d7d7d7 solid}
.lineB3 {border-bottom:3px #d7d7d7 solid}
.lineB2 {border-bottom:2px #d7d7d7 solid}

/*.shadow { box-shadow:1px 1px 0 #ddd !important}*/
.placeholder {color: #999;}

.scrollAutoX { overflow-x:auto !important}
.scrollAutoY { overflow-y:auto !important}
.scrollY { overflow-y:scroll!important}
.scrollX { overflow-x:scroll!important}

.scroll_y{overflow-y: auto !important; overflow-x: hidden !important}
.scroll_x{overflow-x: auto !important; overflow-y: hidden !important}
.scroll_xy{overflow-x: auto !important; overflow-y: auto !important}

.overflowY{overflow-y: hidden !important}
.overflowX{overflow-x: hidden !important}
.overflow {overflow: hidden !important}

.pad5 li { padding:5px}
.padLR5 li { padding-left:5px; padding-right:5px}
.padTB5 li { padding-top:5px; padding-bottom:5px}

.pad10 li { padding:10px}
.padLR10 li { padding-left:10px; padding-right:10px}
.padTB10 li { padding-top:10px; padding-bottom:10px}

.pad15 li { padding:15px}
.padLR15 li { padding-left:15px; padding-right:15px}
.padTB15 li { padding-top:15px; padding-bottom:15px}

.spaceM_0.5 {letter-spacing: -0.5px !important;}
.tablefix {table-layout: fixed;}
.tUnderline {text-decoration: underline;}




